  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Breeding complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br>
          <strong>A7P8K8</strong>
        </div>
      </div>
      <p>
        We have sent your alpaca a congratulation email.
      </p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to Alpaca Population Register Office.</p>
      <p>They will contact you either to cuddle the cute baby alpaca, or to ask your alpaca to show them a few tricks.</p>
      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
  </div>
